# Copie ce fichier en .ftp-credentials et remplis tes identifiants OVH
# Le fichier .ftp-credentials est ignoré par git (jamais committé)

FTP_HOST=ftp.cluster0XX.hosting.ovh.net
FTP_USER=ton-user-ovh
FTP_PASSWORD=ton-mot-de-passe
FTP_REMOTE_DIR=/www/
# Mettre à "true" pour FTPS (recommandé si supporté par OVH), sinon "false"
FTP_SECURE=false
